@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
#jobs-table tr.section td:first-child{
  font-family: 'Prata', serif; 
  font-size: 1.5em;
  color: hsl(0, 0%, 40%);
}

#jobs-table tr.job td, #jobs-table tr.job td a{
  font-size: 1.25em; 
}

#jobs-list {
    overflow-x: initial;
}
