@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
#jobs-table tr.section td:first-child{
  font-family: 'Prata', serif; 
  font-size: 1.5em;
  color: hsl(0, 0%, 40%);
}

tr.job td{
  font-size: 1.25em; 
}
